body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.background{
    height:100%;
    width:100%;
    background: radial-gradient(circle, #1b0944, #000000);
    box-shadow: #000000;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.stars{
    background-image: url(source/stars.png);
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;

}

.star{
    background-image: url(source/venus.png);
    height: 500px;
    width: 500px;
    border-radius: 100%;
    position: absolute;
    background-size: cover;
    top:50%;
    left:0%;
    translate:(0%, 0%);
    animation: rotation 143s linear infinite;
}

@keyframes rotation {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

.info{
    font-family:'Courier New', Courier, monospace;
    background-color: #544a6cc5;
    height: 570px;
    width: 75%;
    border-radius: 30px 0 0 30px;
    position: absolute;
    top:18%;
    left:25%;

}
.weight{
    margin: 50px 50px 10px 50px;
    padding: 1%;
    height: 20px;
    background-color: white;
    color:#1b0944;
    border-radius: 10px;
}
.radius{
    margin: 10px 50px;
    padding: 1%;
    height: 20px;
    background-color: white;
    color:#1b0944;
    border-radius: 10px;
}
.class{
    margin: 10px 50px;
    padding: 1%;
    height: 20px;
    background-color: white;
    color:#1b0944;
    border-radius: 10px;
}
.temp{
    margin: 10px 50px;
    padding: 1%;
    height: 20px;
    background-color: white;
    color:#1b0944;
    border-radius: 10px;
}
.tr{
    margin: 10px 50px;
    padding: 1%;
    height: 20px;
    background-color: white;
    color:#1b0944;
    border-radius: 10px;
}
.tt{
    margin: 10px 50px;
    padding: 1%;
    height: 20px;
    background-color: white;
    color:#1b0944;
    border-radius: 10px;
}
.g{
    margin: 10px 50px;
    padding: 1%;
    height: 20px;
    background-color: white;
    color:#1b0944;
    border-radius: 10px;
}
.density{
    margin: 10px 50px;
    padding: 1%;
    height: 20px;
    background-color: white;
    color:#1b0944;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

.home{
    font-family:'Courier New', Courier, monospace ;
    background-color: white;
    color: #1b0944;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-content: center;
}